.aboutus {
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    padding: 3rem 0 2rem 0;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutus-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.aboutus-text {
    position: relative;
    text-align: left;
}

.aboutus-text h2 {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    color: var(--white);
}

.aboutus-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--white);
}

.aboutus-text strong {
    color: var(--white);
}

.aboutus-imgs {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.aboutus-imgs img {
    max-width: 100%;
    width: 100%;
    border-radius: 2rem;
}

@media (min-width: 1200px) {
    .aboutus-box {
        flex-direction: row;
        width: 80%;
    }
    .aboutus-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        min-width: 60%;
    }
    .aboutus-imgs {
        width: 40%;
        gap: 1rem;
    }
}